/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
    display: none;
}
input{
    border: 2px solid black;
    margin: 8px;
    width:400px;
}
input[type="radio"]{
    width: auto;
}